form input {
    background: transparent;
    border: none;
    color: black;
    border-bottom: 5px dashed black;
    min-width: 400px;
    margin-top: 40px;
    padding: 5px;
    font-size: 1rem;
}

input::placeholder {
    color: black;
    font-size: 1.3rem;
}

input:focus {
    outline: none;
    border: 2px dotted black;
}